{% extends "base.html" %}
{% block start %}
    <h1>This is index page.</h1>

    <a href="/">
        Home
    </a>

    <a href="/about/">
        About
    </a>

    <a href="/contact/">
        contact
    </a>

    {{peoples}}

    <table>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can vote</th>
        </tr>

        {% for people in peoples%}

        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td {% if people.age <= 18 %} style = "background:red" {% endif %}>
                {% if people.age >= 18 %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>

    <p>
        

        {% if "cucumber" in vegetables %}
            Yes Available.

        {% elif "Tomato" in vegetables %}

            Yes Available

        {% else %}

            No Available

        {% endif %}
    </p>

    <p>

    </p>

{% endblock %}